https://theaccessbuddy.wordpress.com/2011/07/03/northwind-database-explained/

![NorthWind](https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/northwindextended/Northwind.png)

# Importar datos desde MySQL en Python

In [0]:
!pip install -q mysql.connector

In [0]:
import mysql.connector

In [0]:
cnx = mysql.connector.connect(user='fkAgdxoNxs', 
                              password='GbjW33NDFc',
                              host='remotemysql.com',
                              database='fkAgdxoNxs')

In [0]:
cursor = cnx.cursor()
cursor.execute("select * from Orders;")
result = cursor.fetchall()

In [0]:
cnx.close()

In [0]:
type(result)

list

In [0]:
import pandas as pd
orders = pd.DataFrame(result)

In [0]:
orders
orders.head()
orders.tail()
orders.sample(10)

In [0]:
orders.columns

RangeIndex(start=0, stop=14, step=1)

In [0]:
cnx = mysql.connector.connect(user='fkAgdxoNxs', password='GbjW33NDFc', host='remotemysql.com', database='fkAgdxoNxs')
cursor = cnx.cursor()
cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Orders' ORDER BY ORDINAL_POSITION ASC")
result = cursor.fetchall()
cnx.close()

pd.DataFrame(result)

In [0]:
name_columns = pd.DataFrame(result)
orders.columns = name_columns[0]
orders.columns

Index(['OrderID', 'CustomerID', 'EmployeeID', 'OrderDate', 'RequiredDate',
       'ShippedDate', 'ShipVia', 'Freight', 'ShipName', 'ShipAddress',
       'ShipCity', 'ShipRegion', 'ShipPostalCode', 'ShipCountry'],
      dtype='object', name=0)

In [0]:
orders.head(3)

0  OrderID CustomerID  EmployeeID  ... ShipRegion ShipPostalCode ShipCountry
0    10248      VINET           5  ...       None          51100      France
1    10249      TOMSP           6  ...       None          44087     Germany
2    10250      HANAR           4  ...         RJ      05454-876      Brazil

[3 rows x 14 columns]

# Join en Python

In [0]:
cnx = mysql.connector.connect(user='fkAgdxoNxs', password='GbjW33NDFc', host='remotemysql.com', database='fkAgdxoNxs')
cursor = cnx.cursor()
cursor.execute("select * from Customers;")
result = cursor.fetchall()
  
customers = pd.DataFrame(result)

cursor = cnx.cursor()
cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Customers' ORDER BY ORDINAL_POSITION ASC")
result = cursor.fetchall()

cnx.close()
  
customers.columns = pd.DataFrame(result)[0]

In [0]:
customers.head(4)

0 CustomerID  ...             Fax
0      ALFKI  ...     030-0076545
1      ANATR  ...    (5) 555-3745
2      ANTON  ...            None
3      AROUT  ...  (171) 555-6750

[4 rows x 11 columns]

In [0]:
fulldata = pd.merge(orders,customers,on='CustomerID')

In [0]:
fulldata.shape
fulldata.head(3)

0  OrderID CustomerID  EmployeeID  ... Country        Phone          Fax
0    10248      VINET           5  ...  France  26.47.15.10  26.47.15.11
1    10274      VINET           6  ...  France  26.47.15.10  26.47.15.11
2    10295      VINET           2  ...  France  26.47.15.10  26.47.15.11

[3 rows x 24 columns]

# Primeras visualizaciones

In [0]:
cnx = mysql.connector.connect(user='fkAgdxoNxs', password='GbjW33NDFc', host='remotemysql.com', database='fkAgdxoNxs')
cursor = cnx.cursor()
cursor.execute("SELECT OrderID, SUM(Quantity*UnitPrice) TOTAL FROM `Order Details` GROUP BY OrderID")
montos = cursor.fetchall()
montos = pd.DataFrame(montos)
cnx.close()

montos.columns = ['OrderID','TOTAL']

fulldata = pd.merge(fulldata,montos,on='OrderID')
fulldata.head(3)

In [0]:
import seaborn as sns

sns.scatterplot(x="OrderID", y="TOTAL", data=fulldata)

In [0]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10,5))
sns.set(style="whitegrid")
sns.scatterplot(x="OrderID", y="TOTAL", data=fulldata,)

In [0]:
plt.figure(figsize=(10,5))
sns.set(style="whitegrid")
sns.scatterplot(x="OrderID", y="TOTAL", data=fulldata,)
plt.title('TOTAL vs OrderID')
plt.xlabel('ID')
plt.ylabel('Total $')

In [0]:
sns.boxplot(x="EmployeeID", y="TOTAL", data=fulldata)

In [0]:
fulldata.TOTAL = fulldata.TOTAL.astype('float')

In [0]:
fulldata.TOTAL.dtypes

In [0]:
sns.boxplot(x="EmployeeID", y="TOTAL", data=fulldata)

In [0]:
plt.figure(figsize=(15,10))
sns.set(style="whitegrid")
sns.boxplot(x="EmployeeID", y="TOTAL", data=fulldata)

In [0]:
orders.isna().sum()

0
OrderID             0
CustomerID          0
EmployeeID          0
OrderDate           0
RequiredDate        0
ShippedDate        21
ShipVia             0
Freight             0
ShipName            0
ShipAddress         0
ShipCity            0
ShipRegion        507
ShipPostalCode     19
ShipCountry         0
dtype: int64