# CLASE 2: Árboles de decisión, métricas de evaluación

In [1]:
import utils, pickle
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', 50)

# Random Forests

## Data

Census Income Data Set: http://mlr.cs.umass.edu/ml/datasets/Census+Income

Abstract: Predict whether income exceeds $50K/yr based on census data. Also known as "Adult" dataset.

* **age:** continuous.
* **workclass:** Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* **fnlwgt:** continuous.
* **education:** Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* **education-num:** continuous.
* **marital-status:** Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* **occupation:** Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* **relationship:** Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* **race:** White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* **sex:** Female, Male.
* **capital-gain:** continuous.
* **capital-loss:** continuous.
* **hours-per-week:** continuous.
* **native-country:** United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [2]:
df_raw = pd.read_csv('data/census_train.csv')
df_test = pd.read_csv('data/census_test.csv')
df_raw.shape, df_test.shape

((32561, 15), (16281, 15))

In [3]:
df_raw.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [4]:
# La variable "education-num" contiene la misma informacion que "education",
# en tipo numérica y ordenada, por lo que borraremos "education"
# pero guardaremos sus código en "cat_dict".
education_codes = df_raw[['education', 'education-num']].drop_duplicates()
education_codes

         education  education-num
0        Bachelors             13
2          HS-grad              9
3             11th              7
5          Masters             14
6              9th              5
10    Some-college             10
13      Assoc-acdm             12
14       Assoc-voc             11
15         7th-8th              4
20       Doctorate             16
52     Prof-school             15
56         5th-6th              3
77            10th              6
160        1st-4th              2
224      Preschool              1
415           12th              8

In [5]:
cat_dict = education_codes.set_index('education-num').to_dict()
cat_dict

{'education': {13: ' Bachelors',
  9: ' HS-grad',
  7: ' 11th',
  14: ' Masters',
  5: ' 9th',
  10: ' Some-college',
  12: ' Assoc-acdm',
  11: ' Assoc-voc',
  4: ' 7th-8th',
  16: ' Doctorate',
  15: ' Prof-school',
  3: ' 5th-6th',
  6: ' 10th',
  2: ' 1st-4th',
  1: ' Preschool',
  8: ' 12th'}}

In [6]:
# Borramos "education" y cambiamos el nombre de "education-num" a "education"

# Este estilo de escribir métodos de pandas, seguidos uno de otro, se llama method chaining
df_raw = (df_raw.drop('education', axis=1)
                .rename({'education-num': 'education'}, axis=1))
          
df_raw.head(3)

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

## Ejercicio 1: Preprocesar los datos

In [7]:
# 1. Convertir las columnas a tipo "category", ignorar la variable dependiente
for n,col in df_raw.items():
    # COMPLETAR
        
df_raw.dtypes

IndentationError: expected an indented block (<ipython-input-7-48f6704ff886>, line 5)

In [ ]:
# 2. El dataset no tiene data faltante, por que vamos directo a trasnformar
#    las columnas categóricas a numéricas.
df = df_raw.copy()

# Convertir cada columna categórica a numérica
# COMPLETAR
        
df.head(3)

In [ ]:
# 3. Train-validation split

# COMPLETAR

print(f'Train shape     : {x_train.shape}')
print(f'Validation shape: {x_val.shape}')

## Entrenando un Random Forest

In [8]:
from sklearn.ensemble import RandomForestClassifier

m = RandomForestClassifier(n_estimators=10, n_jobs=-1)
m.fit(x_train, y_train)

NameError: name 'x_train' is not defined

In [ ]:
# Vamos a definir una función para ver los resultados del entrenamiento.
def score():
    print(f'Scores:')
    print(f'Train      = {m.score(x_train, y_train):.4}')
    print(f'Validation = {m.score(x_val, y_val):.4}')
    
score()

In [ ]:
# El parámetro "estimators_" del modelo, contiene los árboles entrenados.
# Vamos a obtener las prediciones de cada árbol
preds = np.stack([t.predict(x_val) for t in m.estimators_])
print(preds.shape)
preds

In [ ]:
# Veamos el score de cada árbol
from sklearn.metrics import accuracy_score

accs = [accuracy_score(y_val==' >50K', p) for p in preds]
plt.plot(accs, '-o')
plt.title('Scores invididuales');

In [ ]:
# Ahora veamos el score acumulado
acum_accs = [accuracy_score(y_val==' >50K', np.mean(preds[:i+1,:], axis=0) > 0.5) for i in range(len(preds))]
plt.plot(acum_accs, '-o')
plt.title('Scores acumulados');

In [ ]:
# Usemos los árboles para obtener una predicción con una estimación de confianza.
sample = x_val.sample(1)

pred = np.stack([t.predict(sample) for t in m.estimators_])

pred.mean() > 0.5, pred.std()

In [ ]:
pred

## Out-of-bag (OOB) score

¿Nuestra validación es peor en el conjunto de validación debido a overfitting, o es porque el conjunto de validación es para un período de tiempo diferente, o un poco de ambos?

Con la información existente que hemos mostrado, no podemos decirlo. Sin embargo, los bosques aleatorios tienen un truco muy ingenioso: oobs core (error fuera de la bolsa).

La idea es calcular el error en el conjunto de entrenamiento, donde la predicción de cada elemento se haga sólo por los árboles que no lo incluyeron en su entrenamiento. Esto nos permite ver si el modelo se ajusta demasiado, sin necesidad de un conjunto de validación por separado.

In [ ]:
m = RandomForestClassifier(n_estimators=40, n_jobs=-1, oob_score=True)
m.fit(x_train, y_train)

In [ ]:
m.oob_score_

In [ ]:
# Vamos a modificar la función score, para incluir el oob score.
def score():
    print(f'Scores:')
    print(f'Train      = {m.score(x_train, y_train):.4}')
    print(f'Validation = {m.score(x_val, y_val):.4}')
    if hasattr(m, 'oob_score_'): print(f'OOB        = {m.oob_score_:.4}')
    
score()

**Algunos paŕametros importantes al crear un Random Forest:**
* n_estimators: cantidad de árboles
* max_depth: la máxima profundidad de cada árbol
* min_samples_leaf: cantidad de muestras mínimas para que puede tener una rama.
* max_features: cantidad de columnas que ve cada árbol.

# Regresión

House Sales Prediction Data Set: https://www.kaggle.com/harlfoxem/housesalesprediction/home

Abstract: This dataset contains house sale prices for King County, which includes Seattle. It includes homes sold between May 2014 and May 2015.

- **id**: a notation for a house
- **date**: Date house was sold
- **price**: Price is prediction target
- **bedrooms**: Number of Bedrooms/House
- **bathrooms**: Number of bathrooms/bedrooms
- **sqft_living**: square footage of the home
- **sqft_lot**: square footage of the lot
- **floors**: Total floors (levels) in house
- **waterfront**: House which has a view to a waterfront
- **view**: Has been viewed
- **condition**: How good the condition is ( Overall )
- **grade**: overall grade given to the housing unit, based on King County grading system
- **sqft_above**: square footage of house apart from basement
- **sqft_basement**: square footage of the basement
- **yr_built**: Built Year
- **yr_renovated**: Year when house was renovated
- **zipcode**: zip
- **lat**: Latitude coordinate
- **long**: Longitude coordinate
- **sqft_living15**: Living room area in 2015(implies-- some renovations) This might or might not have affected the lotsize area
- **sqft_lot15**: lotSize area in 2015(implies-- some renovations)

In [ ]:
df_raw = pd.read_csv('data/kc_house_data.csv', parse_dates=['date'])
print(df_raw.shape)
df_raw.head()

In [ ]:
# Borramos la variable "id"
df_raw.drop('id', axis=1, inplace=True)
df_raw.head()

## Preprocess

### El target

In [ ]:
plt.figure(figsize=(12,3))
sns.distplot(df_raw.price);

In [ ]:
plt.figure(figsize=(12,3))
sns.distplot(np.log(df_raw.price));

Es importante tener en cuenta lo que estamos evaluando, en el caso de precios es bastante común tener mayor interes en el ratio del error que en el valor del error.

* La predicción fallo en S/.10 vs la predicción fallo en 10%.
* Un error de S/.100 en un precio de S/.1,000,000 vs un error de S/.100 en un precio de S/.1000.

Por eso vamos a considerar el **log** del precio.

In [ ]:
df_raw.price = np.log(df_raw.price)
df_raw.head()

### Fechas

In [ ]:
df_raw.date.describe()

In [ ]:
# Podemos usar "dt" para acceder a los métodos de fechas.
df_raw.date.dt.year.head()

In [ ]:
# Si queremos acceder al atributo "year" desde una variable string usamos "getattr()"
getattr(df_raw.date.dt, "year").head()

In [ ]:
# 1. Vamos a extrarer los parámetros útiles que se pueden extraer de fechas
date_attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear', 'Is_month_end',
             'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']

for n in date_attr:
    df_raw['date_' + n] = getattr(df_raw['date'].dt, n.lower())

# 2. Agregamos una columan con una representación numérica de la fecha
df_raw['date_elapsed'] = df_raw['date'].astype(np.int64) // 10 ** 9


# 3. Eliminamos la variable date
df_raw.drop('date', axis=1, inplace=True)

df_raw.head()

In [ ]:
# Veamos la cantidad de valores únicos de las variables que hemos creado
df_raw[['date_'+e for e in date_attr]].nunique()

In [ ]:
# Vamos a eliminar "date_Is_year_start" dado que tiene el mismo valor para todo el dataset
df_raw.drop('date_Is_year_start', axis=1, inplace=True)

### Train-validation split

In [ ]:
x = df_raw.drop('price', axis=1)
y = df_raw['price']

x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2, random_state=42)
print(f'Train shape     : {x_train.shape}')
print(f'Validation shape: {x_val.shape}')

## Entrenar un árbol de regresión

In [ ]:
from sklearn.tree import DecisionTreeRegressor

m = DecisionTreeRegressor(max_depth=2)
m.fit(x_train, y_train)

In [ ]:
# m.score retorna el coeficiente de determinación de la predicción
score()

In [ ]:
# veamos el mse
from sklearn.metrics import mean_squared_error
mean_squared_error(y_train, m.predict(x_train)), mean_squared_error(y_val, m.predict(x_val))

In [ ]:
utils.draw_tree(m, x_train)

## Calculando los valores del árbol

In [ ]:
y_train.mean()

In [ ]:
((y_train - y_train.mean())**2).mean()

In [ ]:
y_train[x_train['grade'] <= 8.5].mean()

In [ ]:
((y_train[x_train['grade'] <= 8.5] - y_train[x_train['grade'] <= 8.5].mean())**2).mean()

In [ ]:
y_train[x_train['grade'] > 8.5].mean()

In [ ]:
((y_train[x_train['grade'] > 8.5] - y_train[x_train['grade'] > 8.5].mean())**2).mean()

## Usando un random forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
m = RandomForestRegressor(40, n_jobs=-1, oob_score=True)
m.fit(x_train, y_train)

In [ ]:
score()

# Interpretación del modelo

## Feature importance

### Sklearn feature importance (mean decrease impurity)

In [ ]:
m.feature_importances_

In [ ]:
imp = pd.DataFrame({'cols':x_train.columns, 'imp':m.feature_importances_}).sort_values('imp', ascending=False)
imp.style.bar()

### Permutation importance

In [ ]:
%%time
from rfpimp import importances, plot_importances

imp = importances(m, x_val, y_val)
plot_importances(imp, figsize=(5,9));

### Drop-column importance

In [ ]:
%%time
from rfpimp import dropcol_importances

imp = dropcol_importances(m, x_train, y_train)
plot_importances(imp, figsize=(5,9));

## Partial Dependence Plot

- **id**: a notation for a house
- **date**: Date house was sold
- **price**: Price is prediction target
- **bedrooms**: Number of Bedrooms/House
- **bathrooms**: Number of bathrooms/bedrooms
- **sqft_living**: square footage of the home
- **sqft_lot**: square footage of the lot
- **floors**: Total floors (levels) in house
- **waterfront**: House which has a view to a waterfront
- **view**: Has been viewed
- **condition**: How good the condition is ( Overall )
- **grade**: overall grade given to the housing unit, based on King County grading system
- **sqft_above**: square footage of house apart from basement
- **sqft_basement**: square footage of the basement
- **yr_built**: Built Year
- **yr_renovated**: Year when house was renovated
- **zipcode**: zip
- **lat**: Latitude coordinate
- **long**: Longitude coordinate
- **sqft_living15**: Living room area in 2015(implies-- some renovations) This might or might not have affected the lotsize area
- **sqft_lot15**: lotSize area in 2015(implies-- some renovations)

In [ ]:
from pdpbox import pdp, info_plots

df_train = x_train.assign(price=y_train)
df_train.head(2)

### Examinemos la variable "yr_built"

In [ ]:
# Veamos como se distribuye en la data que tenemos, con respecto a nuestro target
info_plots.target_plot(df_train, 'yr_built', 'Year built', 'price');

In [ ]:
# Ahora veamos como reacciona el modelo a esta variable
pdp_year_built = pdp.pdp_isolate(m, x_train, x_train.columns, 'yr_built')

In [ ]:
pdp.pdp_plot(pdp_year_built, 'Year built', plot_lines=True, frac_to_plot=100);

In [ ]:
# Usamos la opción de clusters para agrupar mejor los comportamientos
fig, axes = pdp.pdp_plot(pdp_year_built, 'Year built', cluster=True, n_cluster_centers=5)
axes['pdp_ax'].set_ylim(-0.45,0.2);

### Veamos las interacciones entre longitud y latitud

In [ ]:
pdp_lat_long = pdp.pdp_interact(m, x_train, x_train.columns, ['long', 'lat'])

In [ ]:
pdp.pdp_interact_plot(pdp_lat_long, ['long', 'lat'], plot_pdp=True);

## Tree interpreter

In [ ]:
from treeinterpreter import treeinterpreter as ti

sample = x_val.sample()
print(f'Real price = {y_val[sample.index[0]]}')
sample

In [ ]:
preds, bias, contributions = ti.predict(m, sample)

In [ ]:
# Predicción final
preds

In [ ]:
# Bias inicial
bias

In [ ]:
# Contribuciones de cada variable
contributions

In [ ]:
# Veamos las contribuciones con el nombre de las variables
tt = pd.DataFrame(contributions, columns=sample.columns).T.sort_values(0)
tt.style.background_gradient(cmap='YlOrRd')

In [ ]:
# Usamos un waterfallplot para tener una mejor visualización de la predicción
utils.waterfallplot(sample, contributions[0], formatting='{:,.3f}', size=(13,6), sorted_value=True, threshold=0.05);

## Ejercicio 2: Utilizar los métodos de interpretación en el Census Income Data Set

* **age:** continuous.
* **workclass:** Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* **fnlwgt:** continuous.
* **education:** Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* **education-num:** continuous.
* **marital-status:** Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* **occupation:** Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* **relationship:** Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* **race:** White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* **sex:** Female, Male.
* **capital-gain:** continuous.
* **capital-loss:** continuous.
* **hours-per-week:** continuous.
* **native-country:** United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [ ]:
# COMPLETAR

# Revisitando Train-validation split

In [ ]:
# Cargar la data del ejemplo de regresión
df = df_raw.sort_values('date_elapsed')
x = df.drop('price', axis=1)
y = df['price']

x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2, shuffle=False)
print(f'Train shape     : {x_train.shape}')
print(f'Validation shape: {x_val.shape}')

In [ ]:
m = RandomForestRegressor(40, n_jobs=-1, oob_score=True)
m.fit(x_train, y_train)

**Last score**:

* Train score      = 0.9833
* Validation score = 0.8884
* OOB score        = 0.879

In [ ]:
score()

# Debilidades de Random Forest

In [ ]:
x = np.arange(100)/100
y = x + np.random.normal(scale=0.05, size=100)

plt.scatter(x, y, alpha=0.5);

In [ ]:
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.4, shuffle=False)
plt.scatter(x_train, y_train, alpha=0.5)
plt.scatter(x_val, y_val, alpha=0.5);

In [ ]:
x_train.shape

In [ ]:
# Para poder entrenar la data, esta tiene que tener 2 dimensiones
x_train[:, None].shape

In [ ]:
x_train = x_train[:, None]
x_val = x_val[:, None]

In [ ]:
m = RandomForestRegressor(40, oob_score=True)
m.fit(x_train, y_train)

In [ ]:
score()

Examinemos los resultados

In [ ]:
pred_train = m.predict(x_train)
pred_val = m.predict(x_val)

In [ ]:
plt.scatter(x_train, pred_train, alpha=0.5)
plt.scatter(x_val, pred_val, alpha=0.5);