In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("train.csv")

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df.shape

(891, 12)

## Excel

In [5]:
df = pd.read_excel("Employee data.xls")

In [6]:
df.head()

,id,gender,bdate,educ,jobcat,salary,salbegin,jobtime,prevexp,minority
0,1,m,1952-02-03,15,3,57000,27000,98,144,0
1,2,m,1958-05-23,16,1,40200,18750,98,36,0
2,3,f,1929-07-26,12,1,21450,12000,98,381,0
3,4,f,1947-04-15,8,1,21900,13200,98,190,0
4,5,m,1955-02-09,15,1,45000,21000,98,138,0

In [7]:
df.shape

(474, 10)

## DB

In [11]:
import sqlite3

In [12]:
conn = sqlite3.connect("flights.db")

In [13]:
# airports, airlines, routes

In [14]:
query = "SELECT * FROM airports"

In [16]:
df = pd.read_sql_query(query, con=conn)

In [17]:
df.head()

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby

In [18]:
df.shape

(8107, 13)

## API

In [19]:
api_key = "3e354e2057a28ce"

In [20]:
import requests

In [64]:
endpoint = f"""
http://apilayer.net/api/live
    ? access_key = {api_key}
    & source = USD
    & format = 1
"""

In [65]:
endpoint = endpoint.replace('\n', '')
endpoint = endpoint.replace(' ', '')

In [66]:
endpoint

'http://apilayer.net/api/live?access_key=3e354e20d299abac4a6d28b3857a28ce&source=USD&format=1'

In [68]:
response = requests.get(endpoint)
response.status_code, response.reason

(200, 'OK')

In [57]:
json_string = response.content.decode()
type(json_string)

str

In [107]:
import json
data = json.loads(json_string)
df = pd.DataFrame(data)

In [81]:
df.loc['USDAMD']

privacy      https://currencylayer.com/privacy
quotes                                  486.45
source                                     USD
success                                   True
terms          https://currencylayer.com/terms
timestamp                           1548863948
Name: USDAMD, dtype: object

In [83]:
df['quotes'].head()

USDAED      3.673150
USDAFN     75.726501
USDALL    109.150073
USDAMD    486.450039
USDANG      1.794399
Name: quotes, dtype: float64

In [86]:
df.iloc[10]

privacy      https://currencylayer.com/privacy
quotes                                 1.71005
source                                     USD
success                                   True
terms          https://currencylayer.com/terms
timestamp                           1548863948
Name: USDBAM, dtype: object

In [110]:
df = df.reset_index()

In [89]:
df.head()

,index,privacy,quotes,source,success,terms,timestamp
0,USDAED,https://currencylayer.com/privacy,3.673150,USD,True,https://currencylayer.com/terms,1548863948
1,USDAFN,https://currencylayer.com/privacy,75.726501,USD,True,https://currencylayer.com/terms,1548863948
2,USDALL,https://currencylayer.com/privacy,109.150073,USD,True,https://currencylayer.com/terms,1548863948
3,USDAMD,https://currencylayer.com/privacy,486.450039,USD,True,https://currencylayer.com/terms,1548863948
4,USDANG,https://currencylayer.com/privacy,1.794399,USD,True,https://currencylayer.com/terms,1548863948

In [91]:
columns = list(df.columns)

In [92]:
columns

['index', 'privacy', 'quotes', 'source', 'success', 'terms', 'timestamp']

In [93]:
columns[0] = 'target'

In [94]:
columns

['target', 'privacy', 'quotes', 'source', 'success', 'terms', 'timestamp']

In [111]:
df.columns = columns

In [112]:
df.head()

,target,privacy,quotes,source,success,terms,timestamp
0,USDAED,https://currencylayer.com/privacy,3.673150,USD,True,https://currencylayer.com/terms,1548863948
1,USDAFN,https://currencylayer.com/privacy,75.726501,USD,True,https://currencylayer.com/terms,1548863948
2,USDALL,https://currencylayer.com/privacy,109.150073,USD,True,https://currencylayer.com/terms,1548863948
3,USDAMD,https://currencylayer.com/privacy,486.450039,USD,True,https://currencylayer.com/terms,1548863948
4,USDANG,https://currencylayer.com/privacy,1.794399,USD,True,https://currencylayer.com/terms,1548863948

In [98]:
s = 'USDAED'

In [103]:
def foo(s):
    return s[3:]

In [104]:
foo(s)

'AED'

In [105]:
df['target'] = df.target.apply(foo)

In [113]:
df['target'] = df.target.apply(lambda s: s[3:])

In [115]:
foo = lambda s: s[3:]

In [116]:
foo(s)

'AED'

In [114]:
df.head()

,target,privacy,quotes,source,success,terms,timestamp
0,AED,https://currencylayer.com/privacy,3.673150,USD,True,https://currencylayer.com/terms,1548863948
1,AFN,https://currencylayer.com/privacy,75.726501,USD,True,https://currencylayer.com/terms,1548863948
2,ALL,https://currencylayer.com/privacy,109.150073,USD,True,https://currencylayer.com/terms,1548863948
3,AMD,https://currencylayer.com/privacy,486.450039,USD,True,https://currencylayer.com/terms,1548863948
4,ANG,https://currencylayer.com/privacy,1.794399,USD,True,https://currencylayer.com/terms,1548863948

In [121]:
df['Date'] = pd.to_datetime(df.timestamp, unit='s')

In [122]:
df.head()

,target,privacy,quotes,source,success,terms,timestamp,Date
0,AED,https://currencylayer.com/privacy,3.673150,USD,True,https://currencylayer.com/terms,1548863948,2019-01-30 15:59:08
1,AFN,https://currencylayer.com/privacy,75.726501,USD,True,https://currencylayer.com/terms,1548863948,2019-01-30 15:59:08
2,ALL,https://currencylayer.com/privacy,109.150073,USD,True,https://currencylayer.com/terms,1548863948,2019-01-30 15:59:08
3,AMD,https://currencylayer.com/privacy,486.450039,USD,True,https://currencylayer.com/terms,1548863948,2019-01-30 15:59:08
4,ANG,https://currencylayer.com/privacy,1.794399,USD,True,https://currencylayer.com/terms,1548863948,2019-01-30 15:59:08

In [127]:
df['Date'] = df.Date.dt.strftime('%Y-%m-%d')

In [128]:
df.head()

,target,privacy,quotes,source,success,terms,timestamp,Date
0,AED,https://currencylayer.com/privacy,3.673150,USD,True,https://currencylayer.com/terms,1548863948,2019-01-30
1,AFN,https://currencylayer.com/privacy,75.726501,USD,True,https://currencylayer.com/terms,1548863948,2019-01-30
2,ALL,https://currencylayer.com/privacy,109.150073,USD,True,https://currencylayer.com/terms,1548863948,2019-01-30
3,AMD,https://currencylayer.com/privacy,486.450039,USD,True,https://currencylayer.com/terms,1548863948,2019-01-30
4,ANG,https://currencylayer.com/privacy,1.794399,USD,True,https://currencylayer.com/terms,1548863948,2019-01-30

In [131]:
df.loc[0]['Date']

'2019-01-30'

In [133]:
df.to_csv('Preprocessed_currency_data.csv', index=False)